<section class="section section--bg-right section--mobile-no-bg" style="background-image: url(Assets/Images/car-ins.svg)">
    <section class="section__inner">
        <div class="container">
            <h2 class="section__title"> Sigorta Birliği </h2>
            <div class="tab">
                <div class="tabheader">
                    <div class="tabheader__arrow tabheader__arrow--left swiper-button-disabled"><span class="icon icon-small-left-arrow"></span></div>
                    <div class="tabheader__area">
                        <div class="swiper-container tabheader__swiper swiper-container-horizontal">

                            <div class="swiper-wrapper">

                                <!-- for döngüsüne al-->
                                <div class="swiper-slide tabheader__slide tabheader__item active">
                                    <div class="tabheader__pretitle">Kimdir ?</div>
                                    <div class="tabheader__title">Sigorta Birliği</div>
                                </div>

                                <div class="swiper-slide tabheader__slide tabheader__item swiper-slide-next">
                                    <div class="tabheader__pretitle">Sana En Uygun</div>
                                    <div class="tabheader__title">Paketi Satın Al</div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="tabheader__arrow tabheader__arrow--right"><span class="icon icon-small-right-arrow"></span></div>
                </div>
                <div class="tabpanel">
                    <!-- Swiper -->
                    <div class="swiper-container tabpanel__swiper swiper-container-horizontal">
                        <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">

                            <!-- For döngüsüne al-->
                            <div class="swiper-slide tabpanel__slide swiper-slide-active" style="width: 1140px; margin-right: 30px;">
                                <p>
                                    İhtiyacınız doğrultusunda dilediğiniz sorgulamayı ürün listesinden seçip Sigorta Birliği üzerinden güvenli,kolay ve hızlı bir şekilde yapabilirsiniz.
                                </p>
                            </div>
                            <div class="swiper-slide tabpanel__slide swiper-slide-next" style="width: 1140px; margin-right: 30px;">
                                <p>
                                    Aracın plaka veya şasi numarasını girerek talep etmiş olduğunuz sorgulamaya anında tüm detaylarıyla ulaşabilirsiniz.
                                </p>
                            </div>

                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>