<section class="jumbotron jumbotron--xs">
    <div class="container u-position-relative">

        <a href="#" class="ribbon  cursor-hand hidden-xs"   style="left:0;padding-top: 10px">
            <span class="ribbon__text ribbon__text--big">3D</span>
            <span class="ribbon__text">Güvenli</span>
            <span class="ribbon__text" style="padding-top: 5px;">Ödeme</span>
        </a>


        <div class="row">
            <div class="col-md-8 col-md-xs-12 col-md-offset-2 u-text-center">
                <div class="jumbotron__title">
                    Araç ve poliçe sorgulamanın <strong>en pratik ve güvenilir</strong> yolu!
                </div>
            </div>
            <div class="col-md-6 col-md-offset-3 no-res-padding">
                
<form action="/policelerim" method="GET" class="jumbotron__form" id="formQuickReport"  >
    <div class="custom-placeholder u-gap-bottom">
        <div class="custom-placeholder__text custom-placeholder__text--center">
            <input class="form__control form__control--code text-center onlyLetterAndNumbersAndSpaces" 
            id="PlateFull" maxlength="31" name="search" placeholder="Aracın şasi numarasını yazınız." type="text"  />
        </div>
    </div>
    <button type="submit" class="button button--primary u-full-width">Şimdi Sorgula</button>
</form>



            </div>
        </div>

    </div>
</section>