<% if(!userIN){ %>
<section class="section section--gray">
    <div class="section__inner">
        <div class="container">
            <h2 class="section__title">Poliçe Bilgilerinizi Sorgulayın</h2>
            <p class="u-color-text-light u-text-center u-font-large u-clear-gap">Tüm aktif poliçelerinizi görmek için
                 <strong><a target="_self" href="giris-yap">Giriş Yapın</a></strong> </p>
        </div>
    </div> 
</section>
<% } %>

