<section class="section section-mutlu-musterilerimiz">
    <section class="section__inner">
        <div class="container">
            <h2 style="font-size: 28px; font-family: 'Times New Roman', Times, serif;" class="section__title">Kurumsal Müşterilerimiz</h2>
            <div class="corporate">
                <!-- Swiper -->
                <div class="swiper-container corporate__swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide corporate__slide">
                            <img src="Assets/Images/Corporate/DOD_Logo.png">
                        </div>
                        <div class="swiper-slide corporate__slide">
                            <img src="Assets/Images/Corporate/eft-yeni-logo.png">
                        </div>
                        <div class="swiper-slide corporate__slide">
                            <img src="Assets/Images/Corporate/Ikinciel_Logo.png">
                        </div>
                        <div class="swiper-slide corporate__slide">
                            <img src="Assets/Images/Corporate/ManTopUsed.png">
                        </div>
                    </div>
                </div>
                <!-- Add Arrows -->
                <div class="corporate__arrow corporate__left icon icon-big-left-arrow"></div>
                <div class="corporate__arrow corporate__right icon icon-big-right-arrow"></div>
            </div>
        </div>
    </section>
</section>