
<section class="section">
   

    <section class="section__inner">
        <div class="container">
            <h2 style="font-size: 28px; font-family: 'Times New Roman', Times, serif;" class="section__title">Hızlıca Sorgula</h2>
            <div class="row i-xs-hide i-sm-hide ">
                               <!-- Product -->
                            <div class="col-md-4 col-sm-4 u-gap-bottom">
                                <div class="product product--kournikova">
                                        <div class="product__image">
                                            <img src="Assets/Images/products/sase-police.svg" />
                                        </div>
                                    <h3 class="product__title">
                                        Şase No İle Poliçe Sorgula
                                    </h3>
                                    <div class="product__text u-font-size-large">
                                        Şase numarasını girerek dilediğiniz aracın poliçesini sorgulayabilirsiniz. Karıştığı kaza miktarı, modeli,
                                        kaza tarihi ve daha çok bilgiye ulaşın.
                                    </div>
                                    <div class="product__button">
                                        <a href="/sase-no-sorgu" class="button button--secondary u-full-width">HEMEN SORGULA</a>
                                    </div>
                                </div>
                            </div>
                                <!-- /Product -->

                                <div class="col-md-4 col-sm-4 u-gap-bottom">
                                    <div class="product product--kournikova">
                                            <div class="product__image">
                                                <img src="Assets/Images/products/kefalet-sigorta.svg" />
                                            </div>
                                        <h3 class="product__title">
                                            Kefalet Sigortası Sorgula
                                        </h3>
                                        <div class="product__text u-font-size-large">
                                            Kefalet senedi numarası girerek kefalet sigorta bilgilerinizi sorgulayın. Belge  numarası, poliçe numarası,
                                            firma ünavnı, vergi numarası bilgilerini edinin.
                                        </div>
                                        <div class="product__button">
                                            <a href="/kefalet-sorgulama" class="button button--secondary u-full-width">HEMEN SORGULA</a>
                                        </div>
                                    </div>
                                </div>

            </div>
        </div>
        <div class="container sm-no-pad">
            <!-- Swiper -->
            <div class="swiper-container products__swiper i-lg-hide i-md-hide">
                <div class="swiper-wrapper">
                                <div class="swiper-slide products__slide">
                                    <!-- Product -->
                                    <div class="product product--kournikova">
                                            <div class="product__image">
                                                <img src="Assets/Images/products/sase-police.svg" />
                                            </div>
                                        <div class="product__title u-font-size-large">
                                            Şase No İle Poliçe Sorgula
                                        </div>
                                        <div class="product__text u-font-size-large">
                                            Şase numarasını girerek dilediğiniz aracın poliçesini sorgulayabilirsiniz. Karıştığı kaza miktarı, modeli,
                                            kaza tarihi ve daha çok bilgiye ulaşın.                                        </div>
                                        <div class="product__button">
                                            <a href="/sase-no-sorgu" class="button button--secondary u-full-width">HEMEN SORGULA</a>
                                        </div>
                                    </div>
                                    <!-- /Product -->
                                </div>
                                <div class="swiper-slide products__slide">
                                    <!-- Product -->
                                    <div class="product product--malibu">
                                            <div class="product__image">
                                                <img src="Assets/Images/products/kefalet-sigorta.svg" />
                                            </div>
                                        <div class="product__title u-font-size-large">
                                            Kefalet Sigortası Sorgula
                                        </div>
                                        <div class="product__text u-font-size-large">
                                            Kefalet senedi numarası girerek kefalet sigorta bilgilerinizi sorgulayın. Belge  numarası, poliçe numarası,
                                            firma ünavnı, vergi numarası bilgilerini edinin.                                        </div>
                                        <div class="product__button">
                                            <a href="/kefalet-sorgulama" class="button button--secondary u-full-width">HEMEN SORGULA</a>
                                        </div>
                                    </div>
                                    <!-- /Product -->
                                </div>

                </div>
            </div>
        </div>
    </section>
</section>