<div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Şase No İle Poliçe Sorgulama</h3>
    </div> 
    <!-- /.card-header --> 
    <!-- form start -->
    <form action="/policelerim" method="GET" >
      <div class="card-body row">
          <div class="input-group mb-3 col-lg-5 ">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Şase numarasını giriniz:</span>
            </div>
            <input name="search" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
          </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-primary"> Sorgula </button>
      </div>
    </form>
  </div>